@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

a, a:link, a:visited {
	text-decoration: none;
	font-family: 'OTWelcomeRA';
}

.ctfBox_wrap {
	display: flex;
	gap: 24px;
	flex-wrap: wrap;
}

.ctfBox_wrap .ctfBox {
	flex: 1;
	padding: 30px;
	box-sizing: border-box;
	border: 1px solid #d7d7d7;
	border-top: 2px solid #2d58b6;
	min-width: 300px;
}

.ctfBox_wrap .ctfBox .ctfBox_header {
	margin-bottom: 20px;
	text-align: center;
}

.ctfBox_wrap .ctfBox .ctfBox_header .tit {
	font-size: 27px;
	font-weight: 700;
	color: #2d58b6;
	line-height: 37px;
	margin-bottom: 10px;
	letter-spacing: -1.5px;
	font-family: 'OTWelcomeRA';
}

.ctfBox_wrap .ctfBox .ctfBox_header .txt {
	font-size: 18px;
	font-weight: 500;
	color: #444;
	line-height: 28px;
	letter-spacing: -1.5px;
}

.ctfBox_wrap .ctfBox_contents {
	padding: 28px 40px;
	background: #f0f3fa;
	text-align: center;
}

.ctfBox_wrap .ctfBox_contents .tit {
	font-size: 19px;
	font-weight: 700;
	color: #444;
	letter-spacing: -0.75px;
	line-height: 30px;
	margin-bottom: 20px;
	font-family: 'OTWelcomeRA';
}

.ctfBox_wrap .ctfBox_contents .bul_sty {
	padding-left: 26px;
	font-size: 17px;
	font-weight: 500;
	color: #444;
	line-height: 20px;
	letter-spacing: -1.5px;
	text-align: left;
	font-family: 'OTWelcomeRA';
}

.ctfBox_wrap .ctfBox_contents .bul_sty+.bul_sty {
	margin-top: 10px;
}

.ctfBox_wrap .ctfBox_contents .txt {
	font-size: 17px;
	font-weight: 500;
	color: #444;
	line-height: 20px;
	letter-spacing: -1.5px;
	margin-top: 10px;
	text-align: left;
	font-family: 'OTWelcomeRA';
}

.ctfBox_wrap .ctfBox_btm {
	display: flex;
	gap: 10px;
	margin-top: 30px;
	justify-content: space-between;
}

.ctfBox_wrap .ctfBox_btm a {
	flex: 1 auto;
	display: block;
	background: #2d58b6;
	text-align: center;
}

.ctfBox_wrap .ctfBox_btm a span {
	display: block;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	height: 45px;
	line-height: 45px;
	font-family: 'OTWelcomeRA';
}

.ctfBox_wrap .ctfBox_btm a+a {
	margin-left: 10px;
}

.ctfBox_wrap .ctfBox.sty01 {
	border-top: 2px solid #2d58b6
}

.ctfBox_wrap .ctfBox.sty01 .ctfBox_header .tit {
	color: #2d58b6;
}

.ctfBox_wrap .ctfBox.sty01 .ctfBox_btm a {
	background: #2d58b6;
}

.ctfBox_wrap .ctfBox.sty02 {
	border-top: 2px solid #0080fb
}

.ctfBox_wrap .ctfBox.sty02 .ctfBox_header .tit {
	color: #0080fb;
}

.ctfBox_wrap .ctfBox.sty02 .ctfBox_contents {
	background: #edf6ff
}

.ctfBox_wrap .ctfBox.sty02 .ctfBox_btm a {
	background: #0080fb;
}

.ctfBox.sty03 {
	border-top: 2px solid #33aa33
}

.ctfBox.sty03 .ctfBox_header .tit {
	color: #33aa33;
}

.ctfBox.sty03 .ctfBox_contents {
	background: #f6f9e8
}

.ctfBox.sty03 .ctfBox_btm a {
	background: #33aa33;
}

.ctfBox_wrap .ctfBox {
	padding: 20px;
}

.ctfBox_wrap .ctfBox .ctfBox_header .tit {
	font-size: 30px;
	line-height: 30px;
}

.ctfBox_wrap .ctfBox .ctfBox_header .txt {
	font-size: 16px;
	line-height: 26px;
	font-family: 'OTWelcomeRA';
}

.ctfBox_wrap .ctfBox_contents {
	padding: 14px 20px;
}

.ctfBox_wrap .ctfBox .ctfBox_contents .tit {
	font-size: 22px;
	line-height: 27px;
}

.ctfBox_wrap .ctfBox_contents .bul_sty {
	font-size: 16px;
	line-height: 24px;
}

.ctfBox_wrap .ctfBox_contents .bul_sty+.bul_sty {
	margin-top: 5px;
}

.ctfBox_wrap .ctfBox_contents .txt {
	margin-top: 5px;
	font-size: 14px;
	line-height: 24px;
	font-family: 'OTWelcomeRA';
}

.ctfBox_wrap .ctfBox_btm a span {
	font-size: 16px;
}

.bh_flow_circle8_ol li[class^='bh_flow_circle8_li'] {
	position: relative;
	width: 143px;
	height: 143px;
	display: inline-block;
	font-size: 17px;
	color: #fff;
	font-weight: 600;
	vertical-align: top;
	text-align: center;
	margin-left: 61px;
	font-family: 'OTWelcomeRA';
}

.bh_flow_circle8_ol .bh_flow_circle8_li_1 {
	background: url(https://www.snubh.org/front/images/bg_c1.gif) center top
		no-repeat;
}

.bh_flow_circle8_ol .bh_flow_circle8_li_2 {
	background: url(https://www.snubh.org/front/images/bg_c2.gif) center top
		no-repeat;
	position: relative;
}

.bh_flow_circle8_ol .bh_flow_circle8_li_3 {
	background: url(https://www.snubh.org/front/images/bg_c3.gif) center top
		no-repeat;
	position: relative;
}

.bh_flow_circle8_ol .bh_flow_circle8_li_4 {
	background: url(https://www.snubh.org/front/images/bg_c4.gif) center top
		no-repeat;
	position: relative;
}

.bh_flow_circle8_ol .bh_flow_circle8_li_5 {
	background: url(https://www.snubh.org/front/images/bg_c5.gif) center top
		no-repeat;
	position: relative;
}

.bh_flow_circle8_ol .bh_flow_circle8_li_2 strong {
	background:
		url(https://www.snubh.org/front/images/medical/ico_f_c7_2.png) center
		33px no-repeat;
	color: #000;
}

.bh_flow_circle8_ol li[class^='bh_flow_circle8_li']:after {
	position: absolute;
	top: 0;
	right: -61px;
	content: "";
	width: 61px;
	height: 143px;
}

.bh_flow_circle8_ol .bh_flow_circle8_li_1:after {
	background:
		url(https://www.snubh.org/front/images/introduce/bg_ext_arrow1.gif)
		center center no-repeat;
}

.bh_flow_circle8_ol .bh_flow_circle8_li_2:after {
	background:
		url(https://www.snubh.org/front/images/introduce/bg_ext_arrow2.gif)
		center center no-repeat;
}

.bh_flow_circle8_ol .bh_flow_circle8_li_3:after {
	background:
		url(https://www.snubh.org/front/images/introduce/bg_ext_arrow3.gif)
		center center no-repeat;
}

.bh_flow_circle8_ol li[class^='bh_flow_circle8_li'] strong {
	display: block;
	padding-top: 72px;
}

.bh_flow_circle8_ol .bh_flow_circle8_li_1 strong {
	background:
		url(https://www.snubh.org/front/images/medical/ico_f_c7_1.png) center
		33px no-repeat;
}

.bh_flow_circle8_ol .bh_flow_circle8_li_3 strong {
	background:
		url(https://www.snubh.org/front/images/medical/ico_f_c8_1.png) center
		33px no-repeat;
}

.bh_flow_circle8_ol .bh_flow_circle8_li_4 strong {
	background:
		url(https://www.snubh.org/front/images/medical/ico_f_c8_4.png) center
		33px no-repeat;
}

.bh_flow_circle8_ol .bh_flow_circle8_li_5 strong {
	background:
		url(https://www.snubh.org/front/images/medical/ico_f_c8_5.png) center
		33px no-repeat;
}

.bh_flow_circle8_ol li strong em {
	font-size: 12px;
	letter-spacing: -1.5px;
	font-family: 'OTWelcomeRA';
}

.tit_h4 {
	background: url(/front/images/member/ico_h4.gif) no-repeat 0 50%;
	padding-left: 20px;
	color: #2d58b6;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 15px;
	font-family: 'OTWelcomeRA';
}

.tit_h5 {
	font-size: 21px;
	color: #1a1a1a;
	background: url(/front/images/member/bg_bar.gif) no-repeat 0 0;
	padding-top: 10px;
	font-weight: 600;
	margin-bottom: 17px;
	font-family: 'OTWelcomeRA';
}

.tit_h4 {
	background: url(/resources/image/ico_h4.gif) no-repeat 0 50%;
	padding-left: 20px;
	color: #2d58b6;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 15px;
	font-family: 'OTWelcomeRA';
}

.bh_color_red {
	color: #e03321 !important;
}

ul, ol, li {
	list-style: none;
}

.bh_normal_txt {
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: -0.25px;
	color: #444;
	font-family: 'OTWelcomeRA';
}

.container_wrapper {
	position: relative;
	z-index: 0;
	width: 100%;
	background: #fff;
	padding-bottom: 50px;
}

.contents_section {
	position: relative;
	min-width: 960px;
	max-width: 1200px;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

p.tit {
    font-family: 'OTWelcomeRA';
}

p.bh_normal_txt {
    font-family: 'OTWelcomeRA';
}

p.bul_sty {
    font-family: 'OTWelcomeRA';
}

span {
    font-family: 'OTWelcomeRA';
}

#serchDB{
    height: 50px;
    width: 500px;
    position: relative;
    left: 80.5%;
    font-family: 'OTWelcomeRA';
}
#db_number{
    font-size: 18px;
    position: relative;
    top: -11px;
    left: -21%;
    font-family: 'OTWelcomeRA';
    color:#e03321;
}
