@charset "UTF-8";

@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#line {
	width: 1200px;
}

#page {
	width: 21cm;
	max-height: 29.7cm;
	padding: 1.5cm 1.5cm 2cm 1.5cm;
	margin: 0px auto;
	background-color: #ddd;
	margin-top: 20px;
}

#printimage {
	background: url(/resources/image/print.png) 0 center no-repeat;
	width: 43px;
	height: 35px;
}

#printimage2 {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.line {
	width: 100%;
}

#main {
	width: 1200px;
}

#title {
	width: 75%;
	font-size: 40px;
	text-align: center;
	background: #F6F6F6;
	height: 130px;
}

.nav {
	width: 10%;
	font-size: 18px;
	text-align: center;
	background: #F6F6F6;
}

.nav2 {
	width: 15%;
}

.titlenumber {
	width: 7%;
	font-size: 18px;
	text-align: center;
	background: #F6F6F6;
	height: 50px;
}

.nav3 {
	width: 30%;
}

#Hospitalization {
	width: 11%;
	font-size: 18px;
	text-align: center;
	background: #F6F6F6;
}

#in {
	width: 10%;
	font-size: 18px;
	text-align: center;
}

#room {
	width: 7%;
	font-size: 18px;
	text-align: center;
	background: #F6F6F6;
}

#day1 {
	width: 9%;
	font-size: 18px;
	text-align: center;
	background: #F6F6F6;
}

#day2 {
	width: 15%;
	font-size: 18px;
	text-align: center;
}

#in {
	width: 16%;
	font-size: 18px;
	text-align: center;
}

.content {
	width: 19%;
	font-size: 18px;
	text-align: center;
	background: #F6F6F6;
	height: 50px;
}

#name {
	width: 19.2%;
	font-size: 18px;
	text-align: center;
	background: #F6F6F6;
	height: 50px;
}

#gender {
	width: 9.2%;
	font-size: 18px;
	text-align: center;
	background: #F6F6F6;
}

#age {
	width: 10%;
	font-size: 18px;
	text-align: center;
	background: #F6F6F6;
}

#o1 {
	width: 9%;
	font-size: 18px;
	text-align: center;
}

#o2 {
	width: 9%;
	font-size: 18px;
	text-align: center;
}

#o3 {
	width: 15.7%;
	font-size: 18px;
	text-align: center;
}

#o4 {
	width: 19%;
	font-size: 18px;
	text-align: center;
}

#birth {
	width: 12.2%;
	font-size: 18px;
	text-align: center;
	background: #F6F6F6;
}

#age {
	width: 12%;
	font-size: 18px;
	text-align: center;
	background: #F6F6F6;
}

#insert {
	height: 330px;
	pxfont-size: 18px;
	text-align: center;
	pxfont-size: 18px;
	background: #F6F6F6;
}

td {
	border: 1px solid #2d58b6;
}

#boss {
	position: relative;
	text-align: center;
	top: 40px;
	left: 10%;
}

#doc {
	float: right;
}

button.ocd_btn {
	background: #1AAB8A;
	color: #fff;
	border: none;
	position: relative;
	height: 40px;
	font-size: 1em;
	padding: 0 2em;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
	font-family: 'OTWelcomeRA';
}

button:hover.ocd_btn {
	background: #fff;
	color: #1AAB8A;
}

button:before, button:after.ocd_btn {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #1AAB8A;
	transition: 400ms ease all;
}

button:after.ocd_btn {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}

button:hover:before, button:hover:after.ocd_btn {
	width: 100%;
	transition: 800ms ease all;
}

button.ocd_btn1 {
	background: #1AAB8A;
	color: #fff;
	border: none;
	position: relative;
	height: 40px;
	font-size: 1em;
	padding: 0 2em;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
	font-family: 'OTWelcomeRA';
}

button:hover.ocd_btn1 {
	background: #fff;
	color: #1AAB8A;
}

button:before, button:after.ocd_btn1 {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #1AAB8A;
	transition: 400ms ease all;
}

button:after.ocd_btn1 {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}

button:hover:before, button:hover:after.ocd_btn1 {
	width: 100%;
	transition: 800ms ease all;
}