@charset "UTF-8";

.headline{
	position : relative;
	text-align : center;
	right : 60px;
}

#searchform{
	position : relative;
	left : 200px;
} 

input[type="submit"] {
	border: none;
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;
    background-color: #74D36D;
}

#container{
	position : relative;
	left : 200px;
	border : 1px solid #ccc;
	border-collapse : collapse;	
}

.table1{
	
}
/* 테이블 제일 윗줄 영역 */
#tr1{
	background-color: #6ed3d8;
    border-left : 1px solid #6ed3d8;
    border-right : 1px solid #6ed3d8;
}

td{
	text-align : center;
	height : 45px;
/* 	border-bottom : 1px solid black; */
}

/* 차트 내용에 마우스 갖다댔을 때 */
#tr2:hover{
	background-color : silver;
}

#writeform{
	position : relative;
	float : right;
	right : 268px;
}

/* 페이징 숫자, 다음칸 */
.paging{
	position : relative;
	padding : 10px;
	top : 60px;
	left : 700px;
	text-decoration : none;
	font-size : 18px;
}

.paging:link, .paging:visited{
	color : black;
}

/* 페이징 숫자, 다음칸 마우스 갖다댔을때 */
.paging:hover{
	color : #6ed3d8;
}

.detailc{
	text-decoration : underline;
}

.detailc:link, .detailc:visited{
	color : black;
	text-decoration : none;
	
}

.detailc:hover{
	text-decoration : underline;
}


#modify,
#delete,
#write {
    border: none;
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;
}

#modify {
    background-color: #03A9F4;
}

#delete {
    background-color: #E91E63;
}

#write {
	background-color: #74D36D;
}