@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2? family= Noto+Serif+KR:wght@300 & display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Noto+Serif+KR:wght@300&display=swap')
	;

.chart_box {
	position: relative;
	margin-top: 100px;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
}

.chartwrite_box input {
	height: 25px;
}

.chartwrite_box select {
    border-radius: 8px;
    border: #999999 1px solid;
    height: 30px;
    margin-left: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 8px;
    padding-right: 10px;
}

.container input::placeholder {
    color: #CCCCCC;
    font-size: 15px;
}

input#inoperd {
	width: 165px;
	border-radius: 8px;
	border: #999999 1px solid;
	margin-left: 10px;
	font-family: 'Noto Sans KR', sans-serif;
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 4px;
}

input#inexitd {
	width: 165px;
	border-radius: 8px;
	border: #999999 1px solid;
	margin-left: 10px;
	font-family: 'Noto Sans KR', sans-serif;
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 4px;
}

input#inenterd {
	width: 165px;
	border-radius: 8px;
	border: #999999 1px solid;
	margin-left: 10px;
	font-family: 'Noto Sans KR', sans-serif;
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 4px;
}

input#inid {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	color: #222222;
	width: 300px;
	border: none;
	padding-left: 10px;
	position: relative;
	background: none;
	z-index: 5;
}

input#inrrn {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	color: #222222;
	width: 300px;
	border: none;
	padding-left: 10px;
	position: relative;
	background: none;
	z-index: 5;
}

input#indis {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	color: #222222;
	width: 300px;
	border: none;
	padding-left: 10px;
	position: relative;
	background: none;
	z-index: 5;
}

textarea#inoper {
    border-radius: 8px;
    border: #999999 1px solid;
    padding: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}

table.container {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	border: 1px solid #ccc;
	margin: 20px 10px;
}

table.container th {
	padding-left: 20px;
	padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
	width: 150px;
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	background: #99CC99;
	color: #FAFAFA;
}

table.container td {
	width: 250px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}

table.container {
	margin: auto;
}

td.chart_memo {
	height: 400px;
}

.chart_write_btn input[type="submit"] {
    width: 80px;
    height: 40px;
    border: none;
    border-bottom: 3px solid #99CC99;
    background-color: #F2F2F2;
}

.chart_write_btn {
    position: absolute;
    right: 439px;
    margin-top: 20px;
}