@charset "UTF-8";
body{background-color-red;
	
	
}	
.bh_all_login_section {
    padding: 45px 15px;
    border: 1px solid #dedddd;
    background: #f5f5f5;
;}  
 
.bh_all_login_box .bh_all_login_btn_id {
  	width: 415px;
    height: 40px;
    padding: 0 20px;
    border: 1px solid #eeece2;
    background: #fff;
    color: #333;
    font-size: 14px;
    font-family: inherit;
    line-height: 40px;
;}