@charset "UTF-8";

@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
}

.body_wrapper_m {
	position: relative;
}

.common_wrapper_m {
	width: 100%;
    height: 100%;
}

.header_wrapper_m {
	position: relative;
	background: #fff;
	z-index: 2;
}

.header_wrapper_m .header_section_m {
	position: relative;
	height: 98px;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.main_header_ban {
	margin-left: 200px;
    margin-top: 0px;
    display: inline-block;
}

.header_search_m {
    position: absolute;
    top: 0;
    right: 0;
    width: 53%;
    height: 49px;
    margin-top: 70px;
}

.maincss ol, ul {
	list-style-type: none;
	list-style: none;
}

.maincss ol, ul, li {
	list-style: none;
	font-family: 'OTWelcomeRA';
}

ul.header_login_m {
	position: absolute;
    display: inline;
    right: 0;
    top: 16px;
    margin-bottom: 0px;
}

.header_login_m li {
	float: left;
}

li.main_name {
    margin-top: 0;
}

.header_login_m a {
	margin: 10px;
	padding-top: 10px;
}

a, a:link, a:visited.main_a1_m {
	text-decoration: none;
}

.header_login_m a {
	color: #444;
    font-size: 16px;
    font-weight: 600;
    margin-right: 5px;
}

#bh_search_txts {
	padding-top: 1px;
    padding-bottom: 2px;
	float: right;
    width: 450px;
    height: 30px;
    border: 4px solid #006633;
    background: #fff;
    text-align: center;
    padding-left: 10px;
    font-size: 16px;
    line-height: 31px;
    font-family: 'OTWelcomeRA';
}

#btn_search {
	padding-top: 10px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 87px;
    height: 39px;
    padding: 0;
    border: 1px solid #006633;
    background: #006633;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'OTWelcomeRA';
}
/* 상단 메뉴 끝 */


/* 메인 메뉴 */
.main_conts_set_m {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 661px;
    text-align: center;
}

.main_menu_section_m {
    position: relative;
    z-index: 9999;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: -280px;
}

.main_menu_section_m .m_ddd_m {
	overflow: hidden;
	width: 957px;
    margin: 0 auto;
}

.main_menu_section_m .m_ddd_m li {
    float: left;
    position: relative;
    width: 230px;
    height: 210px;
    text-align: center;
    margin-left: 0px;
    background: #fff;
    border: 1px solid white;
    vertical-align: middle;
}

.main_li_1 a, dt {
	color: #222;
    letter-spacing: -2px;
    font-size: 24px;
    font-weight: bold;
}

.main_li_1 dd {
	color: #333;
    letter-spacing: -1px;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding-top: 15px;
}

.main_li_1 dl {
    margin: 0;
    padding-top: 45px;
    padding-bottom: 110px;
    background-image: url(/resources/image/ico_1.png);
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center 80%;
}

input#consulting_m {
    width: 130px;
    height: 33px;
    padding: 0;
    border: 1px solid #006633;
    background: #006633;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 15px;
    font-family: 'OTWelcomeRA';
}

.main_li_2 a, dt {
	color: #222;
    letter-spacing: -2px;
    font-size: 24px;
    font-weight: bold;
}

.main_li_2 dd {
	color: #333;
    letter-spacing: -1px;
    font-size: 14px;
    font-weight: 600;
    padding-right: 39px;
    padding-top: 15px;
    margin: 0;
    padding-right: 0px;
}

.main_li_2 dl {
	margin: 0;
    padding-top: 38px;
    padding-bottom: 115px;
    background-image: url(/resources/image/ico_2.png);
    background-color: #F2F2F2;
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center 82%;
    
}

.main_li_3 a, dt {
	color: #222;
    letter-spacing: -2px;
    font-size: 24px;
    font-weight: bold;
}

.main_li_3 dd {
	color: #333;
    letter-spacing: -1px;
    font-size: 14px;
    font-weight: 600;
    margin: 0;    
}

.main_menu_section_m .m_ddd_m li ._li_1 dl {
    height: 184px;

}

.main_li_3 a, dt {
	color: #222;
    letter-spacing: -2px;
    font-size: 24px;
    font-weight: bold;
}

.main_li_3 dd {
	color: #333;
    letter-spacing: -1px;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding-top: 15px;
    margin: 0;
}

.main_li_3 dl {
	margin: 0;
    padding-top: 40px;
    padding-bottom: 115px;
    background-color: #E4F6FF;
    background-image: url(/resources/image/ico_3.png);
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center 82%;
}

.main_li_3 p {
    margin-top: 0;
    margin-bottom: 10px;
}

#search_txt_m {
	width: 150px;
    height: 30px;
    border: 4px solid #006633;
    text-align: center;
    font-family: 'OTWelcomeRA';
}

input#search_btn_m {
    width: 60px;
    height: 30px;
    padding: 0;
    border: 1px solid #006633;
    background: #006633;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'OTWelcomeRA';
}

.main_li_4 a, dt {
	color: #222;
    letter-spacing: -2px;
    font-size: 24px;
    font-weight: bold;
}

.main_li_4 dd {
	color: #333;
    letter-spacing: -1px;
    font-size: 13px;
    font-weight: 600;
    padding-top: 15px;
    margin-left: 0px;
    margin-top: 0px;
}

.main_li_4 dl {	
    margin: 0;
    padding-top: 40px;
    padding-bottom: 115px;
    background-image: url(/resources/image/ico_4.png);
    background-color: #FEFFCB;
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center 80%;  
}

.main_li_5 a, dt {
	color: #222;
    letter-spacing: -2px;
    font-size: 24px;
    font-weight: bold;
}

.main_li_5 dd {
	color: #333;
    letter-spacing: -1px;
    font-size: 13px;
    font-weight: 600;
    padding-top: 15px;
    margin-left: 0px;
    margin-top: 0px;
}

.main_li_5 dl {
	margin: 0;
    padding-top: 45px;
    padding-bottom: 115px;
    background-image: url(/resources/image/ico_5.png);
    background-color: #FFE7BC;
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center 65%; 
}

.main_li_6 a, dt {
	color: #222;
    letter-spacing: -2px;
    font-size: 24px;
    font-weight: bold;
}

.main_li_6 dd {
	color: #333;
    letter-spacing: -1px;
    font-size: 13px;
    font-weight: 600;
    padding-top: 15px;
    margin-left: 0px;
    margin-top: 0px;
}

.main_li_6 dl {
	margin: 0;
    padding-top: 38px;
    padding-bottom: 115px;
    background-image: url(/resources/image/ico_6.png);
    background-color: #E9D7EF;
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center 82%;
}

.main_li_7 a, dt {
	color: #222;
    letter-spacing: -2px;
    font-size: 24px;
    font-weight: bold;
}

.main_li_7 dd {
	color: #333;
    letter-spacing: -1px;
    font-size: 13px;
    font-weight: 600;
    padding-top: 15px;
    margin-left: 0px;
    margin-top: 0px;
}

.main_li_7 dl {
	margin: 0;
    padding-top: 40px;
    padding-bottom: 115px;
    background-image: url(/resources/image/ico_7.png);
    background-color: #CECECE;
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center 82%;
}

.main_li_8 a, dt {
	color: #222;
    letter-spacing: -2px;
    font-size: 24px;
    font-weight: bold;
}

.main_li_8 dd {
	color: #333;
    letter-spacing: -1px;
    font-size: 13px;
    font-weight: 600;
    padding-top: 15px;
    margin-left: 0px;
    margin-top: 0px;
}

.main_li_8 dl {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 120px;
    background-image: url(/resources/image/ico_8.png);
    background-color: #DAC09E;
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center 75%;
}

.main_conts_set_m {
	background-image: url('/resources/image/main_conts.jpg');
	background-size: cover;
	margin-top: 30px;
	opacity: 0.5;
}

.skip {
	display: none;
}

.footer_section_m1 {
    position: relative;
    margin-top: 70px;
    padding-left: 0px;
}

.footer_inner_m1 {
	padding-left: 0px;
}

.company_call {
    position: relative;
    text-align: center;
    padding: 24px 0px;
    font-size: 16px;
    background-color: #4E4E4E;
    color: #F0F0F0;
    line-height: 26px;
}

a.login_name_m {
  color : #666699;
}



