@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

html body {
	height: 100%;
}

#dcap {
	text-align: right;
	padding-bottom: 10px;
    padding-right: 10px;
}

body {
	display: flex;
	flex-direction: column;
}

.detail_main {
	position: relative;
	margin-top: 100px;
	padding-left: 17%;
	flex: 1;
}

#detail_img {
	width: 400px;
	height: 400px;
	border-radius: 200px;
	margin-top: 70px;
}

.detail_table {
    font-family: 'Gothic A1', sans-serif;
}

.img_table {
	display: inline-block;
	float: left;
}

table#detail_table {
	margin-left: 550px
}

canvas#mycanvas {
	margin-left: 500px;
	margin-top: 60px;
}

/* 푸터 고정 */
.detail_main {
	min-height: calc(100vh - 142px);
}

/* 테이블 */
table#detail_table {
    border: 1px #a39485 solid;
    font-size: .9em;
 	box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}

th {
    text-align: left;
    font-weight: bold;
    color: #fff;
    background: #73685d;
}

th, td {
    padding: 0.5em 1.5em;
    vertical-align: middle;
}

td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
}