@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

@font-face {
    font-family: 'KimjungchulMyungjo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.titel_text {
    padding-top: 10px;
    text-align: center;
    font-family: 'KimjungchulMyungjo-Bold';
}

.img_table {
    float: left;
    position: relative;
    left: 500px;
    top: 40px;
}

img#detail_img {
    border-radius: 100%;
    border: 1px solid;
    height: 300px;
    width: 400px;
    border-radius: 30px;
}

.detail_table {
    float: left;
    left: 630px;
    top: 90px;
    position: relative;
}

.canvas_box {
    clear: left;
    padding-top: 30px;
}

/* 그래프 */
canvas#mycanvas {
	margin-left: 420px;
	margin-top: 60px;
	
}

/* 푸터 고정 */
.detail_main {
	margin-top: 50px;
	min-height: calc(100vh - 142px);
}

/* 테이블 */
table#detail_table {
    border: 1px #a39485 solid;
    font-size: .9em;
 	box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden; 
    font-family: 'KimjungchulMyungjo-Bold';  
}

th {
    text-align: left;
    font-weight: bold;
    color: #fff;
    background: #73685d;
}

th, td {
    padding: 0.5em 1.5em;
    vertical-align: middle;
}

td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
    width: 130px;
}

caption#dcap {
    margin-left: 220px;
    margin-bottom: 10px;
}