@charset "UTF-8";

#h_f1 {
	left: 29%;
	display: none;
}

#h_f2 {
	left: 47%;
	display: none;
}

#h_f3 {
	left: 65%;
	display: none;
}

#l_f1 {
	left: 31%;
	display: none;
}

#l_f2 {
	left: 49%;
	display: none;
}

#l_f3 {
	left: 67%;
	display: none;
}

.h_f {
	position: absolute;
	top: 65%;
}

.l_f {
	position: absolute;
	top: 65%;
}

.val {
	position: relative;
	top: 6px;
}

#woring_text1 {
	position: absolute;
	width: 185px;
	left: 0px;
	top: 74px;
}

#woring_text2 {
	position: absolute;
	width: 185px;
	left: -35px;
	top: 95px;
}

.imageup, .imagedown {
	height: 20px;
	cursor: pointer
}

#temperature_control {
	position: fixed;
	top: auto;
	left: 90%;
	width: 106px;
}

.room {
	display: inline-block;
	margin: 0px 80px;
	position: relative;
	top: 15cm;
	text-align: center;
}

#child {
	width: 1200px;
	margin: auto;
	position: relative;
	left: 20px;
	min-height: calc(100vh - 142px);
}

#main_button {
	position: relative;
	right: 8px;
	bottom: 50px;
}

#new_child button {
	width: 105px;
	background-color: #53D7A5;
	border: 2px solid #53D7A5;
	color: white;
	height: 50px;
	border-radius: 10px;
}

#child_main {
	position: relative;
	top: 50px;
	border-top: 1px solid black;
	padding-top: 25px;
	font-size: 35px;
}

.room_text {
	font-size: 40px;
	color: #FAD778;
}

body {
	list-style: none;
	font-family: 'OTWelcomeRA';
}

.room_image {
	border-radius: 200px;
	width: 350px;
	height: 350px;
	position: absolute;
	top: -450px;
	left: -75px;
}

#poptext1, #poptext2, #poptext3 {
	padding: 15px 20px;
	background-color: #444444;
	border-radius: 5px;
	color: #ffffff;
	display: none;
	position: absolute;
	width: 250px;
	left: -22%;
	top: -80%;
}

#woring_image {
	width: 30px;
	height: 30px;
	position: absolute;
	top: -1px;
	left: 170px;
	background-color: white;
}

#woring_text {
	color: red;
}

input#batches_tem {
	border: 3px solid rgb(0, 0, 0);
	border-radius: 5px;
	height: 28px;
	line-height: normal;
	color: rgb(40, 40, 40);
	display: inline-block;
	width: 62px;
	box-sizing: border-box;
	user-select: auto;
	font-size: 16px;
	padding: 0px 6px 0px 18px;
	text-align: center;
}

input#bt301_tem {
	border: 3px solid rgb(0, 0, 0);
	border-radius: 5px;
	height: 28px;
	line-height: normal;
	color: rgb(40, 40, 40);
	display: inline-block;
	width: 62px;
	box-sizing: border-box;
	user-select: auto;
	font-size: 16px;
	padding: 0px 6px 0px 18px;
	text-align: center;
}

input#bt302_tem {
	border: 3px solid rgb(0, 0, 0);
	border-radius: 5px;
	height: 28px;
	line-height: normal;
	color: rgb(40, 40, 40);
	display: inline-block;
	width: 62px;
	box-sizing: border-box;
	user-select: auto;
	font-size: 16px;
	padding: 0px 6px 0px 18px;
	text-align: center;
}

input#bt303_tem {
	border: 3px solid rgb(0, 0, 0);
	border-radius: 5px;
	height: 28px;
	line-height: normal;
	color: rgb(40, 40, 40);
	display: inline-block;
	width: 62px;
	box-sizing: border-box;
	user-select: auto;
	font-size: 16px;
	padding: 0px 6px 0px 18px;
	text-align: center;
}

input[type="button"] {
	display: inline-block;
	outline: none;
	cursor: pointer;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	padding: 2px 16px;
	margin-top: 5px;
	width: 100px;
	height: 32px;
	min-width: 60px;
	min-height: 32px;
	border: none;
	color: rgb(255, 255, 255);
	background-color: rgb(79, 84, 92);
	transition: background-color 0.17s ease 0s, color 0.17s ease 0s;
}