@charset "UTF-8";

#tem_ment1, #tem_ment2, #tem_ment3 {
	position: absolute;
	top: 66%;
}

#tem_ment1 {
	left: 24%;
}

#tem_ment2 {
	left: 43%;
}

#tem_ment3 {
	left: 61%;
}

#setting_set {
	padding: 15px 20px;
	background-color: white;
	border-radius: 5px;
	color: black;
	position: absolute;
	width: 50px;
	left: -31.8%;
	top: 70%;
	font-family: 'OTWelcomeRA';
}

#check_icon1, #check_icon2, #check_icon3, #check_icon4, #check_icon5, #check_icon6 {
	position: absolute;
	left: 3.7%;
    top: 0;
}

.setting_icon {
	width: 100px;
	position: relative;
	top: -50px;
	left: 10px;
	display: none;
}

.icon, .icon2 {
	height: 40px;
}

#check_icon1, #check_icon2, #check_icon3, #check_icon4, #check_icon5,
	#check_icon6 {
	display: none;
}

#setting_ment {
	position: absolute;
	width: 50px;
	left: 81.2%;
	top: 25%;
}

#setting {
	position: relative;
	left: -15%;
}

#room_body {
	margin: 0 auto;
	min-height: calc(100vh - 142px);
	background-image: url("../../../resources/image/grass.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center
}

.babyr {
	margin-top: 75px;
	margin-bottom: 75px;
}

.roomn {
	text-align: center;
	font-size: 50px;
}

.incubator {
	margin: 0 auto;
	width: 1200px;
	height: 100vh;
}

.babylist li:nth-child(1) {
	width: 0px;
	display: inline-block;
	float: left;
}

.babylist {
    display: inline-block;
    list-style: none;
    margin: 0px 35px;
    left: 5px;
    position: relative;
    left: 40px;
}

.bname {
	text-align: left;
	margin-left: 40px;
}

.baby1 {
	display: inline-block;
	position: relative;
	left: 5%;
}

#lababy {
	margin-right: 40px;
}