<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">    

<mapper namespace="com.vr.Mapper.BiometricMapper">
	<insert id = "babyinsert">
		insert into bt(bname, bage, bgender, mname, fname, mnumber, fnumber, bimage) 
		values(#{bname},#{bage},#{bgender},#{mname},#{fname},#{mnumber},#{fnumber},#{bimage});
	</insert>

	
</mapper>