<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">    

<mapper namespace="com.vr.Mapper.BiometricMapper">

	<!--아이 등록 -->
	<insert id = "babyinsert">
		insert into bt(bname, bage, bgender, mname, fname, mnumber, fnumber, bimage) 
		values(#{bname},#{bage},#{bgender},#{mname},#{fname},#{mnumber},#{fnumber},#{bimage});
	</insert>
	
	<!-- 호실 아이 리스트 -->
	<select id="babylist1" resultType="com.vr.Model.BiometricDTO">
		select * from bt301 order by bdate asc;
	</select>
	
	<select id="babylist2" resultType="com.vr.Model.BiometricDTO">
		select * from bt302 order by bdate asc;
	</select>
	
	<select id="babylist3" resultType="com.vr.Model.BiometricDTO">
		select * from bt303 order by bdate asc;
	</select>
	
	<!-- 아이 상세보기 페이지 -->
	<select id="babydetail" resultType="com.vr.Model.BiometricDTO">
		select * from bt where bno = #{bno};
	</select>
	
	<!-- 필요한거 -->
	<select id="baby_room_sel" resultType="com.vr.Model.BiometricDTO">
		select * from bt where bname =#{bname} and bno = #{bno}
	</select>
	
	<!--  301호 입원 -->
	<insert id="baby_room1_in">
		insert into bt301(bno, bname, bage, bgender, mname, fname, mnumber, fnumber, bimage) 
		values(#{bno},#{bname},#{bage},#{bgender},#{mname},#{fname},#{mnumber},#{fnumber},#{bimage});
	</insert>
	
	<!--  302호 입원 -->
	<insert id="baby_room2_in">
		insert into bt302(bno, bname, bage, bgender, mname, fname, mnumber, fnumber, bimage) 
		values(#{bno},#{bname},#{bage},#{bgender},#{mname},#{fname},#{mnumber},#{fnumber},#{bimage});
	</insert>
	
	<!--  303호 입원 -->
	<insert id="baby_room3_in">
		insert into bt303(bno, bname, bage, bgender, mname, fname, mnumber, fnumber, bimage) 
		values(#{bno},#{bname},#{bage},#{bgender},#{mname},#{fname},#{mnumber},#{fnumber},#{bimage});
	</insert>
	
	<!--  아기 등록창 -->
	<select id="bt301" resultType="com.vr.Model.BiometricDTO">
		SELECT * FROM bt where bt.bname not in (SELECT bname FROM bt302 union SELECT bname FROM bt301 union select bname from bt303);
	</select>
	
	<select id="bt302" resultType="com.vr.Model.BiometricDTO">
		SELECT * FROM bt where bt.bname not in (SELECT bname FROM bt302 union SELECT bname FROM bt301 union select bname from bt303);
	</select>
	
	<select id="bt303" resultType="com.vr.Model.BiometricDTO">
		SELECT * FROM bt where bt.bname not in (SELECT bname FROM bt302 union SELECT bname FROM bt301 union select bname from bt303);
	</select>
	
	<!--  퇴원 -->
	<delete id="baby_room_del1">
	delete from bt301 where bno=#{bno};
	</delete>
	
	<delete id="baby_room_del2">
	delete from bt302 where bno=#{bno};
	</delete>
	
	<delete id="baby_room_del3">
	delete from bt303 where bno=#{bno};
	</delete>
	
	<!--  중복 등록 확인 -->
	<select id="baby_room_Overlapping" resultType="int">
	select count(*) from bt302 where bname= #{bname} and bno= #{bno} 
	</select>
	
	<!-- 301호 실 입원 아이 갯수 체크 -->
	<select id="renewal_count" resultType="int">
	SELECT count(DISTINCT bno) count FROM bt301 WHERE bno;
	</select>
	
	<!-- 갯수 체크 한 이후 그값을 이용하여 온도값과 합쳐서 최신정보 3개를 가지고옴 -->
	<select id="renewal" resultType="com.vr.Model.TempleDTO">
	select distinct bno, temp, today from bb_test join bt301 order by today desc limit #{count};
	</select>
	
	
	<insert id="renewal_insert">
		insert into ti_301(bno, today, temp) value(#{bno},#{today},#{temp});
	</insert>
	
	<select id="renewal_name" resultType="String">
	select bname from bt301 where bno = #{bno};
	</select>
	
</mapper>