<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">    

<mapper namespace="com.vr.Mapper.CertificateListMapper">
	
	<!-- 3개월치 진료기록 검색 -->
	<select id="serch" resultType="int">
  		select count(*) from chart1 where id= #{id} and firwriting BETWEEN CURRENT_DATE()-90 AND CURRENT_DATE();
  		</select>
  		
  	<select id="Cserch" resultType="com.vr.Model.MemberDTO">
  		select * from chart1 where db=#{db};
  		</select>
</mapper>