<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vr.Mapper.MemberMapper">
	<insert id="join">
		insert into member values(#{mname},#{id},#{pw},#{rrn});
	</insert>
	
	<select id="login" resultType="com.vr.Model.MemberDTO">
		select *
		from member
		where id=#{id}
		and pw=#{pw}
	</select>
	
</mapper>

    