<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vr.Mapper.TempleMapper">

<!-- 현재시간 기준으로 5분전 데이터 중 오름차순 조회 -->
<select id="temp_s" resultType="com.vr.Model.TempleDTO"> select
* from bb_test where today > (now() - interval 1 minute) order by today
asc limit 1; </select>

</mapper>